@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

* {
  margin : 0;
  padding : 0;
  box-sizing: border-box;
  font-family: Poppins;
}

body {
  width : 100vw;
  height : 100vh;
  display : grid;
  place-items: center;

  background-color: #eee;
}

.wrapper1, .wrapper2, .wrapper3 {
  padding : 1rem;
  border : 1px solid #333;
}

.wrapper2 {
  border : 1px solid firebrick;
}

/* Below is the bare minimum css */

.star-rating1 {
  display : flex;
  gap : 1rem;
}

.star-rating2 {
  display : flex;
  gap : 0.5rem;
  transform: scale(2);
}

.star-rating3 {
  display : flex;
  flex-direction: column;
  gap : 1rem;
}

.star-btn {
  width : 20px;
  height : 20px;
  border : 0;
  outline : 0;
  cursor : pointer;
}

.star-empty, .star-full {
  background-position: center;
  background-repeat: no-repeat;
}

.star-empty {
  background-image: url('star-empty.svg');
}

.star-full {
  background-image: url('star-full.svg');
}